**Set**
* index ile erişilemez.Unordered yani sıralı değillerdir.(Bir sete erişmek istediğinizde sıralama her seferinde farklılaşacaktır.)

*  Set'ler değiştirilemezler, yani immutable. Tupledan farkı sete yeni eleman ekleyip çıkarabiliyoruz. Ama setin içerisindeki bir elemanı değiştiremiyoruz.

* {} parantezi içerisinde tanımlanır. Elemanlar virgüller ile ayrılır.

* Farklı tipte veri taşımaya izin verir.

* Aynı değere sahip iki eleman YER ALMAZ. Duplicate veri taşımazlar.

In [1]:
int_set= {1, 2, 3, 4}
string_set= {"Rüveyda", "Ece", "Merve", "Zeynep","Bilge"}

mix_set = {12, "Sude", 10234.6, True, False}

In [3]:
print(mix_set)

{False, True, 'Sude', 10234.6, 12}

In [ ]:
print(type(mix_set))

In [4]:
my_set = {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}

In [1]:
my_list = [1, 3, 8, 1, 2, "Ece", "Ece",True, 8, 0, False, 9, 19, False, 3, 2]
print(my_list)

my_set = set(my_list)

print(my_set)

[1, 3, 8, 1, 2, 'Ece', 'Ece', True, 8, 0, False, 9, 19, False, 3, 2]
{0, 1, 2, 3, 8, 9, 19, 'Ece'}

In [ ]:
my_set= {"Ayşe Nur" ,"Duygu" ,"Başak" ["Müzeyyen", "İrem", "Nihal"]}  
#setlerin üzerinde değişiklik yapılamaz fakat listelerde yapılabilir. Eğer setin içerisinde liste ekleyecek olursak setin üzerinde değişikliğe uğrayabilir sistemi olmuş oluyor.
#bu yüzden set içerisinde liste kullanılamaz.

print(my_set)

In [ ]:
my_set= {"Ayşe Nur" ,"Duygu" ,"Başak" ("Müzeyyen", "İrem", "Nihal")}  #tuplelar değiştirilemediği için setin içinde tuple kullanılabilir.


print(my_set)

Boş bir set oluşturma

Boş bir liste ve tuple oluşturmak istediğimizde;
* my_list= []
* my_tuple= ()

Setlerde durum farklı

In [2]:
empty_set = set()

#print(type(empty_set))
print(empty_set)

set()

In [7]:
empty_set= {}  #süslü parantez olunca dictionary olarak algılıyo o yüzden boş olan seti () parantezleriyle tanımlıyoruz
#print(type(empty_set))
print

<class 'dict'>

Elemanlara Erişim

In [8]:
movies = {"How I met your mother", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of interest"}

for item in movies:
    print(item)

Breaking Bad
How I met your mother
Person of interest
Friends
The Big Bang Theory

Set içerisinde eleman kontrolü

In [9]:
movies = {"How I met your mother", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of interest"}

if "Harry Potter" in movies:
    print("Diziler içerisinde mevcut")
else: print ("Diziler içerisinde mevcut değil")

Diziler içerisinde mevcut değil

In [10]:
print("Dizi setinin uzunluğu", len(movies))

Dizi setinin uzunluğu 5

Bir Set'e Elaman Ekleme

* add() ile sete yeni bir eleman eklenir #append gibi düşün
* update() ile de birden fazla ekleme işlemi yapılır. #extend gibi düşün

In [11]:
#add
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya"}
 #sona ekleyecek diye bir şey yok random


books.add("Bu İş Asla Tutmaz")

books.add("Harry Potter ") #error vermez ama eklemez listeye zaten var diye.

print(books)

{'Harry Potter', 'Merhaba Dünya', 'Bu İş Asla Tutmaz', 'Serenad', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak'}

In [12]:
#update
books.update(["Körlük", "İnce Memed"])

books

{'Bu İş Asla Tutmaz',
 'Harry Potter',
 'Körlük',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad',
 'İnce Memed'}

Bir Set İçerisinden Eleman Silme

* remove()
* discard()
* pop()
* clear()
* del set

In [13]:
#remove()
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya"}

books.remove("Harry Potter")
books

{'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad'}

In [ ]:
books.remove("Harry Potter")
books

#harry potterı zaten sildiğimiz için bir öncekinde şu an sette böyle bir şey yok olmadığı için hata verir.

In [3]:
#discard--> remove'dan tek farkı olmayan bir elemanı silmeye çalışırken hata alınmaz.
books.discard("Müşterinizin Beynindeki Satın Alma Düğmesine Basmak")

books

NameError: name 'books' is not defined

In [ ]:
#pop() sil dediğimizde neyi sileceğini bilmiyoruz.
book.pop()

books

In [ ]:
#clear() listenin içini siliyo boş liste printliyo aynı listedeki gibi
books.clear()

books

In [ ]:
#del komple siliyo o yüzden error veriyo silince basıldığı için

del books
books

Set üzerinde kullanabileceğimiz operatörler

* union() -> |
* intersection() -> &
* difference () -> -
* symmetric_difference() -> ^

**union()**

İki seti birleştirmek için kullanılır.

In [15]:
my_set1= {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2= {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3= my_set1 | my_set2

my_set3

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

**Intersection(Kesişim)**
İki küme içerisinde yer alan ortak elemanları döndürür.

In [16]:
my_set1= {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2= {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3= my_set1 & my_set2

my_set3

{'Ezgi', 'Merve'}

In [17]:
my_set4 = my_set1.intersection(my_set2)
my_set4

{'Ezgi', 'Merve'}

**İntersection_update**

In [19]:
my_set1= {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2= {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set1.intersection_update(my_set2) #myset1i 2 ile olan ortak kümesiyle update edip myset1'i yeni haliyle ortaya koyuyor.

my_set1

{'Ezgi', 'Merve'}

**Dİfference**

A kümesinden B kümesiyle kesiştiği alan dışında kalan yer

In [27]:
my_set1= {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2= {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}


my_set3= my_set1 - my_set2
my_set3

{'Asena', 'Aysel', 'Emre'}

In [29]:
my_set1.difference_update(my_set2) #updatelerin mantığı, yaptığın update işlemini hangi kümeyi başta kullanıyorsan o yaptığın değişiklik onun üzerinde yapılıyor.

In [30]:
my_set1

{'Asena', 'Aysel', 'Emre'}

**Symmetric difference**

In [31]:
#kesişim dışındakileri alıyor.
my_set1= {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2= {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}


unique_set = my_set1 ^ my_set2
unique_set

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [32]:
unique_set2= my_set2.symmetric_difference(my_set1)
unique_set2

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [33]:
my_set1.symmetric_difference_update(my_set2)

my_set1

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

**Kopyalama İşlemleri**

* copy() tek taraf etkileniyor
* =  iki taraf da etkileniyor

In [34]:
my_set= {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vİldan")
my_set2

{18, 'Ahmet', 'Sezen', True, 'Vİldan'}

In [35]:
#copy metodu ile 
my_set= {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vİldan")
my_set2

{18, 'Ahmet', 'Sezen', True}

In [37]:
#set metodu ile
my_set= {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vİldan")
my_set2

{18, 'Ahmet', 'Sezen', True}

subset and superset

In [38]:
languages = {"python", "c#", "java", "kotlin", "dart"}
languages2= {"kotlin", "java"}

print(languages.issuperset(languages2))
print(languages.issubset(languages2))

True
False

isdisjoint() -> iki kümenin ayrık kümeler olup olmadığını kontrol eder.

In [40]:
languages = {"python", "c#", "java", "kotlin", "dart"}
languages2= {"flutter"}

print(languages.isdisjoint(languages2))

True

FrozenSet -> değişmez bir set oluşturmak istenildiğinde kullanılır.

In [41]:
frozen_set= frozenset({"Nihan", "Edanur", "Buse", "Sena"})

In [42]:
frozen_set.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [43]:
#iki set içerisinde yer alan benzersiz elemanları ekrana basalım.

my_set1 = {10, 20, 30, 40, 50}
my_set2 = {40, 50, 60, 80}

print(my_set1.symmetric_difference(my_set2))

{10, 80, 20, 60, 30}

In [44]:
#bir listenin tüm elemanlarını bir sete ekleme işlemini yapalım

my_list = [1, 2, 9, 3, 4]
my_set = {1, 4, 7, 9, 0}

my_set.update(my_list)
my_set

{0, 1, 2, 3, 4, 7, 9}

In [49]:
#bir set içerisinde yer alan çift sayıları sil

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = []

for item in my_set:
    if item % 2 == 0:
        my_list.append(item)

for i in my_list:
    my_set.remove(i)

my_set

{1, 3, 5, 7, 9}

In [50]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = [i for i in my_set if i % 2 == 0]

for i in my_list:
    my_set.remove(i)

my_set

#list comprehension örnek bakabilirsin

{1, 3, 5, 7, 9}