In [2]:
import pandas as pd

In [3]:
seri = pd.Series()

seri

C:\Users\Melisa BUYUKKOPRU\AppData\Local\Temp\ipykernel_17132\797261446.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  seri = pd.Series()

Series([], dtype: float64)

In [4]:
seri = pd.Series(["Aysel", "Sevda", "sude", "duygu"])

seri

0    Aysel
1    Sevda
2     sude
3    duygu
dtype: object

In [5]:
seri = pd.Series(["Aysel", "Sevda", "sude", "duygu"], [ 23, 45,34, 67]) #valuelara index atadık.

seri

23    Aysel
45    Sevda
34     sude
67    duygu
dtype: object

In [6]:
seri.index #index numara listeisne ulaşıyoruz.

Int64Index([23, 45, 34, 67], dtype='int64')

In [7]:
seri.values #valuleri listeledik

array(['Aysel', 'Sevda', 'sude', 'duygu'], dtype=object)

In [8]:
if "Aysel" in seri.values:
  print("var")

var

In [9]:
if 67 in seri:
  print("var")

var

In [10]:
#list comprehension

#my_list = [i for i in range (100)]

seri = pd.Series(range(2,36,6), [i for i in "abcdef"])

seri

a     2
b     8
c    14
d    20
e    26
f    32
dtype: int64

Seri elemanlarına erişim

In [11]:
languages = pd.Series(["Kotlin", "Java", "Pyhton", "JS", "PHP"], ["lang1", "lang2", "lang3", "lang4", "lang5"] )

languages

lang1    Kotlin
lang2      Java
lang3    Pyhton
lang4        JS
lang5       PHP
dtype: object

In [12]:
languages["lang3"]

'Pyhton'

In [13]:
languages[["lang2", "lang4"]] #sadece lang2 ve 4 ü getirir

lang2    Java
lang4      JS
dtype: object

In [14]:
languages["lang2":"lang4"] #lang2 ve 4 de dahil olmak üzere aradaki tüm değerler

lang2      Java
lang3    Pyhton
lang4        JS
dtype: object

In [15]:
movies = {
    1990: "Friends",
    1991: "Person of Interest",
    1992: "Heartland",
    1993: "Doctor Who",
    1994: "Merlin"
}



movies_series = pd.Series(movies.values(), movies.keys())
movies_series

1990               Friends
1991    Person of Interest
1992             Heartland
1993            Doctor Who
1994                Merlin
dtype: object

In [17]:
movies_series[movies_series.index > 1992]

1993    Doctor Who
1994        Merlin
dtype: object

In [18]:
movies_series[(movies_series.index >= 1992) & (movies_series.index < 1994)]

1992     Heartland
1993    Doctor Who
dtype: object